<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform stdoutLogEnabled="true" startupTimeLimit="300" startupRetryCount="0"
			processPath="%SystemRoot%\System32\WindowsPowerShell\v1.0\powershell.exe" 
			arguments="%home%\site\wwwroot\HttpPlatformHandlerStartup.ps1"> 
        </httpPlatform>
    </system.webServer>
</configuration>